/* Import Roboto font from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* Reset default margin, padding, and set box-sizing and font */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* Body styles: background, text color, layout, and font size */
body {
  background-color: #b12525;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 2rem;
  padding: 1rem;
}

/* Anchor tag styles */
a {
  text-decoration: underline;
  color: inherit;
}

/* Anchor hover effect */
a:hover {
  color: rgba(245, 245, 245, 0.595);
}

/* Header alignment and padding */
.HEADER {
  align-self: flex-end;
  padding: 1rem;
  a {
    text-decoration: none;
  }
}

/* Stopwatch container: center content vertically and horizontally */
.STOPWATCH {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3.5rem;
}

/* Stopwatch display grid and spacing */
#stopwatch {
  display: grid;
  gap: 7rem;
}

/* Reset button styles */
#resetBtn {
  background: none;
  color: inherit;
  font-size: inherit;
}

/* Stopwatch time display styles */
#stopwatch p {
  text-align: center;
}

/* General button styles */
button {
  display: block;
  background: none;
  border: none;
  cursor: pointer;
  color: inherit;
}

/* Start/Stop button specific styles */
#startStopBtn {
  padding: 85px 75px;
  border-radius: 10rem;
  background-color: #fbdb68;
  font-size: 1rem;
  box-shadow: 25px 20px 5px #3333337d;
}

/* Footer styles */
.FOOTER {
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

/* Media query for screens 600px and below */
@media (max-width: 600px) {
  body {
    font-size: 1rem;
  }
  #stopwatch {
    gap: 4rem;
  }
  .STOPWATCH {
  font-size: 2rem;
}
  #startStopBtn {
    padding: 50px 35px;
    font-size: 0.8rem;
    box-shadow: 15px 10px 5px #3333337d;
  }
}
